body{
background-color: white;
}

h1{
color: navy;
id: btg,bwr,shd,ghl,egb;
margin: center;
}

h2{
id: btg,bwr,shd,ghl,egb;
margin: center;
}

p{
margin: center;
}

p{
id: p1,p2,p3;
color: black;
font-size: 6pt;
margin: center;
}

p{
margin: center;
}
